extends layout 

block content 
    .container
        h1 hic officiis officia nam ipsum porro, unde tenetur laboriosam?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis ullam tempora libero nisi. Corporis beatae molestiae similique atque ab repellendus,Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit officiis fugiat quas sapiente, adipisci cum nihil ipsa quod facere, quisquam temporibus tempore voluptatibus vitae, consectetur beatae quis alias. Tempora, nam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi porro reiciendis deserunt doloribus et neque molestiae dolorem laudantium temporibus ducimus totam, fugiat aliquam eius molestias commodi sapiente. Expedita, facilis quas!

