extends layout

block content
      .jumbotron
          .container
              h1 How may I help ?
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos harum ex
              a.btn.btn-primary.btn-lg(href='#')
                span Learn more &raquo;

      .container
          .row
              .col-md-4
                 h3.title some headline
                 p Consectetur tempora, dicta, optio totam facilis hic porro molestiae, natus sint voluptate eligendi eaque similique. Reprehenderit, repellendus.
                 a.btn.btn-outline-primary(href='#') View More

              .col-md-4
                h3.title some headline 2
                p Consectetur tempora, dicta, optio totam facilis hic porro molestiae, natus sint voluptate eligendi eaque similique. Reprehenderit, repellendus.
                a.btn.btn-outline-primary(href='#') View More

              .col-md-4
                h3.title some headline 3
                p Consectetur tempora, dicta, optio totam facilis hic porro molestiae, natus sint voluptate eligendi eaque similique. Reprehenderit, repellendus.
                a.btn.btn-outline-primary(href='#') View More